.material-list-item {
    margin: 10px 0px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.material-list-item > * {
    margin: 0px 10px;
    flex-shrink: 0;
}